
body {
    background-color: black;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    color: #1FC742;
    font-size: 1.1rem;
    margin: 10px 40px;
}

button {
    background-color: black;
    color: #1FC742;
    border: 3px solid #1FC742;
    font-family: 'VT323', monospace;
    font-size: 1.1rem;
    padding: 5px 25px;
}

button:active {
    color: #025B18;
}

button:hover {
    background-color: #023612;
}

h2 {
    margin: 0 0 20px;
    font-size: 2rem;
    color: #1FC742;
}

header {
    display: flex;
    height: 70px;
    border-bottom: 10px double #1FC742;
    margin-bottom: 20px;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

    h1 {
        text-transform: uppercase;
        color: #1FC742;
        font-size: 3rem;
        margin: 0;
    }

    .headerWrap {
        display: flex;
        justify-content: right;
        gap: 20px;
    }

    form {
        display: flex;
        gap: 10px;

        input {
            background-color: black;
            border: none;
            border-bottom: 3px dashed #1FC742;
            color: #1FC742;
            font-family: 'VT323', monospace;
            font-size: 1.1rem;

        }

        input::placeholder {
            color: #025B18;
        }
    
        input:focus {
            outline: none;
        }

    }
}

main {
    display: flex;
    gap: 20px;

    .left {
        flex: 0.5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .formContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;

            form {
                display: none;
                flex-direction: column;
                gap: 10px;
                color: #1FC742;

                input {
                    background-color: black;
                    border: none;
                    border-bottom: 3px dashed #025B18;
                    color: #1FC742;
                    font-family: 'VT323', monospace;
                    font-size: 1.1rem;
                }
    
                input:focus {
                    outline: none;
                }
    
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
                
                .saveBtn {
                    border: 3px solid #1FC742;
                    padding: 5px 25px;
                    font-size: 1.1rem;
                }
                
                .saveBtn:active {
                    color: #025B18;
                }
                
                .saveBtn:hover {
                    background-color: #023612;
                }
    
                .inputContainer {
                    display: flex;
                    justify-content: right;
                    gap: 10px;
    
                }
            }
        }
    }

    .right {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px auto;
        column-gap: 20px;

        .mainListHeader {
            grid-column: 1 / 2;
        }

        .favListHeader {
            grid-column: 2 / 3;
        }

        .addressContainer {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            .addBox {
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 3px dashed #1FC742;
                padding: 10px;
                margin-bottom: 20px;

                p {
                    margin: 0;
                }

               .btnContainer {
                    display: flex;
                    justify-content: space-between;
               }
            }
            
        }

        .favoritesContainer {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            .addBox {
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 3px dashed #1FC742;
                padding: 10px;
                margin-bottom: 20px;

                p {
                    margin: 0;
                }

               .btnContainer {
                    display: flex;
                    justify-content: space-between;
               }
            }
            
        }
    }
}

